*{
    margin: 0;
    padding: 0;
}
body{
    width: 50%;
    margin: auto;
    padding: 30px;
}
.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.p-20{
    padding: 20px;
}

.gap-7{
    gap: 7px;
}
.m-bottom{
    margin-bottom:20px ;
}

.border-solid{
    border: 2px solid black;
    border-radius: 10px;
}
.like-button{
    padding: 5px 15px;
    background-color: #ffd966;
    box-shadow:3px 3px black ;
    border: 2px solid black;
    font-weight: bold;
}
.like-button:hover {
    color: white;
    background: rgb(115, 82, 82);
}