<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Add a Friend</h1>
    <!-- <form action="/friends/create" method="POST">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" required>
        <label for="last_name">Last Name:</label >
        <input type="text" name="last_name" required>
        <label for="occupation" >Occupation:</label>
        <input type="text" name="occupation" required>
        <input type="submit" value="Add Friend">
    </form>  -->
    <form action="/friends/create" method="POST">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" required>
        <label for="last_name">Last Name:</label >
        <input type="text" name="last_name" required>
        <label for="occupation" >Occupation:</label>
        <input type="text" name="occupation" required>
        <input type="submit" value="Add Friend">
    </form> 
    <h1>All My Friends</h1>
    {% for one_friend in friends %}
        <p>Id: {{one_friend.id}}</p>
        <p>First Name: {{one_friend.first_name}}</p>
        <p>Last Name: {{one_friend.last_name}}</p>
        <p>Occupation: {{one_friend.occupation}}</p>
        <a href='/friends/delete/{{one_friend.id}}'>delete</a>
        <a href="">edit</a>
    <hr>
    {% endfor %}
    
    
    
</body>

</html>