<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {%if users|length >0 %}
    <h1>user </h1>
    <a href="/">add user</a>
    {% for user in users %}
        <p>ID: {{user.id}}</p>
        <p>First Name: {{user.first_name}}</p>
        <p>Last Name: {{user.last_name}}</p>
        <p>Email: <a href="/profile/{{user.id}}">{{user.email}}</a></p>
        <a href="/edit/{{user.id}}">edit user</a>
        <a href="/delete_user/{{user.id}}">delete user</a>

    <hr>
    {%endfor%}
    {%else%}
    <h1>no users yet</h1>
    {%endif%}
</body>
</html>