<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>

<body>
    <h1>Title: {{book.title}}</h1>
    <div class="d-flex justify-content-evenly">
        <div>
            <h3> Favourited By</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
                    {%if fav_users%}
                    {%for user in fav_users%}
                    <tr>
                        <td>{{user.first_name}} {{user.last_name}}</td>
                    </tr>
                    {%endfor%}
                    {%endif%}
                </tbody>
            </table>
        </div>
        <form action="/add/to_fav/" method="post">
            <label for="user_id">Choose a User</label>
            <select name="user_id" id="user_id" class="form-select">
                <option disabled selected>Select a User</option>
                {% for user in users %}
                <option value={{user.id}}>{{user.first_name}} {{user.last_name}}</option>
                {% endfor %}
            </select>
            <input type="hidden" id="book_id" name="book_id" value={{book.id}}>
            <button type="submit" class="btn btn-primary">Add to Users Fav</button>
        </form>
    </div>
    <a href="/" class="btn btn-primary">Home</a>
</body>

</html>